<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head>
    <meta charset="UTF-8">
    <title>测试平台</title>
</head>
<body>
    <h3 align="left" th:text="'现在时间:' + ${time}"></h3>
    <p align="center" th:text="${timeStr} + '好!请登录测试平台'"></p>
    <form id="iform" th:action="@{/UserManage/login.json}" th:method="post">
        <table align="center" border="1">
            <tr>
                <th>用户名</th>
                <th>密码</th>
                <th>服务id</th>
                <th>Action</th>
            </tr>
            <tr>
                <td><input type="text" name="name" value="" th:value="*{name}"/></td>
                <td><input type="text" name="passwd" value="" th:value="*{passwd}"/></td>
                <td><input type="text" name="serverId" value="" th:value="*{serverId}"/></td>
                <td><input type="submit" value="登录"/></td>
            </tr>
        </table>
    </form>

    <input align="center" type="button" onclick="test()" value="test10">

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="https://www.bootcdn.cn/json2"></script>
    <script type="text/javascript">
        function test() {
            //json对象
            var reqBody = {
                "serverId":"UserLogin",
                "requestBody":{
                    "name":"admin",
                    "passwd":"123456"
                }
            }
            //转换成string
            var jsonToString = JSON.stringify(reqBody);
            //list用法
            var saveDataAry = [];
            var data1 = {
                "name" : "admin"
            };
            var data2 = {
                "passwd" : "123456"
            };
            saveDataAry.push(data1);
            saveDataAry.push(data2);
            var aryToString = JSON.stringify(saveDataAry);

            $.ajax({
                type : "POST",
                url : "http://localhost:8000/interauto/UserManage/login.json",
                dataType : "json",
                contentType : "application/json",
                data : JSON.stringify(reqBody),
                success : function(data) {
                    console.log(JSON.stringify(data))
                    // alert(JSON.stringify(data))
                }
            });
        }
    </script>
</body>
</html>