<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head>
    <meta charset="UTF-8">
    <title>测试平台</title>
</head>
<body>
    <h3 align="left" th:text="'现在时间:' + ${time}"></h3>
    <p align="center" th:text="${timeStr} + '好!请登录测试平台'"></p>

    <div align="center">
        UserName:<input type="text" id="name" name="name"/><br>
        PassWord:<input type="text" id="passwd" name="passwd"><br>
        <input type="button" onclick="login()" value="登录">
    </div>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="https://www.bootcdn.cn/json2/"></script>
    <script type="text/javascript">
        function login() {
            //json对象
            var reqBody = {
                "serverId":"UserLogin",
                "requestBody":{
                    "name":$("#name").val(),
                    "passwd":$("#passwd").val()
                }
            }
            //转换成string
            var reqToString = JSON.stringify(reqBody);
            // alert(reqToString)
            //list用法
            var saveDataAry = [];
            var data1 = {
                "name" : "admin"
            };
            var data2 = {
                "passwd" : "123456"
            };
            saveDataAry.push(data1);
            saveDataAry.push(data2);
            var aryToString = JSON.stringify(saveDataAry);

            $.ajax({
                type : "POST",
                url : "http://localhost:8000/interauto/UserManage/login.json",
                dataType : "json",
                contentType : "application/json",
                data : JSON.stringify(reqBody),
                success : function(resData) {
                    if (resData.resCode == "0"){
                        alert(resData.token)
                        beforeSend: function(xhr) {
                            xhr.setRequestHeader("token", resData.token);
                        }
                        window.location.href = "../Result/main"
                    }else {
                        alert(resData.errorDesc)
                        window.location.href = "index"
                    }
                }
            });
        }
    </script>
</body>
</html>